version: "3.9"
services:
  db:
    image: postgres:15
    container_name: datamark_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - datamark_pgdata:/var/lib/postgresql/data

volumes:
  datamark_pgdata:
